body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: underline;
    color: #363fba;
}

.top-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.text {
    width: 50%;
    padding-right: 20px ;
}

.side-image {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img,
.gallery video{
    height: 200px;
    margin: 10px;
}