body {
    font-family: Arial, sans-serif;
    background-color: rgb(212, 231, 179);
    margin: 0;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0d721b;
    text-align: center;
}

h2 {
    color: #067153;
    margin-top: 20px;
}

section {
    margin-bottom: 25px;
}

h3 {
    color: #0a593f;
    margin-top: 15px;
}

p {
    color: #141414;
    line-height: 1.6;
}

.highlight {
    background-color: #3c8d0d;
    color: #ffffff;
    padding: 35px;
    border-radius: 20px;
}

.highlight p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}